* {
  box-sizing: border-box;
}

body {
  background-color: #d7d7d7;
  font: 300 15px Montserrat;
  margin: 0;
}

h1 {
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
}

h2 {
  margin: 0;
  padding: 0;   
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.33);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
}

.left-side{
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 35%;
  height: 330px;
  background-color: #1b1e2f;
}

.right-side {
  width: 65%;
  height: 180px;
  border-left: 14px solid #fecb02;
  background-color: #ebebeb;
  padding: 52px 40px;
}

.subcontainer {
  display: flex;
  flex-direction: row;
}

.main {
  width: 65%;
  background-color: #ffffff;
}

.aside {
  width: 35%;
  background-color: #1b1e2f;
}

.footer {
  background-color: #fecb02;
}

.contacts {
  background-color: #1b1e2f;
  color: #ffffff;
}

.education {
  background-color: #ffffff;
}

.languages {
  background-color: #1b1e2f;
  color: #ffffff;
}

.summary {
  background-color: #ffffff;
}

.right-side-text {
  padding: 10px 40px 25px 54px;
}

.left-side-text {
  padding: 10px 30px 25px 44px;
}

.experience {
  background-color: #ffffff;
}

.skills {
  background-color: #1b1e2f;
  color: #ffffff;
}

.code-example {
  background-color: #ffffff;
}

.section-title-left {
  border-left: 14px solid #fecb02;
  box-shadow: 0 1px 0 rgba(241, 241, 241, 0.2);
  padding: 6px 30px;
  font-weight: 500;
  font-size: 16px;
  background-color: rgba(241, 241, 241, 0.1);
}

.section-title-right {
  border-left: 14px solid #fecb02;
  padding: 6px 40px;
  font-weight: 500;
  font-size: 16px;
  background-color: rgb(241, 241, 241);
}

.avatar {
  border: 7px solid #fecb02;
  border-radius: 50%;
  margin: 20px auto;
}

.code {
  border: 1px solid yellow;
  background-color: azure;
  font-size: 14px;
  margin: 20px;
  padding: 20px;
}

.surname {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 30px;
}

.profession {
  font-weight: 300;
  font-size: 20px;
}

.institution {
  text-transform: uppercase;
  line-height: 1.5;
}

.occupation {
  font-style: italic;
  line-height: 0;
  text-transform: none;
}